/* Landing Page: Banner and header styling properties */ 

/* Navigation Bar */
#navBar a {
    color: white;     
}

.android-header {
    overflow: visible;
    background-color: white;
}

.mdl-layout__header-row {
    padding-left: 0px;
}

.android-header .mdl-layout__drawer-button {
    color: white;
}

.android-header .mdl-navigation__link {
    color: #404040;
    font-weight: 700;
    font-size: 10px;
    padding: 12px; 
}

/* Navigation Drawer */
.android-drawer .mdl-layout-title {
    position: relative;
    /* TODO: Change Color */
    background: #484848;
    height: 62px;
}

/* Banner */
#banner { 
    height: 400px; 
    width: auto; 
    background-color: #484848; 
}

#banner1 {
    float: left; 
    width: 40%; 
    height: 40%; 
    margin: 8% 0% 0% 0%; 
}

#banner1 h1, h2 {
    color: white; 
    margin: auto; 
    text-align: center; 
}

#banner1 hr {
    background-color: white; 
}


#banner2 img{ 
    display: block; 
    margin: auto;
    height: auto; 
    max-width: 100%; 
    border-radius: 2%; 
    border: 2px solid white; 

}
